body {
  margin: 0;
  background: #ffcc80;
  font-family: 'Comfortaa', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main_block {
  display: flex;
  justify-content: center;

  .weather_main {
    border-radius: 40px;
    background-color: #ffffff;
    align-items: center;
    height: 100%;
    width: 610px;

    .main_text {
      text-align: center;
    }

    .search_city {
      margin-top: 40px;
      width: 100%;
      text-align: center;

      img {
        width: 25px;
        vertical-align: middle
      }

      input {
        font-size: 20px;
        width: 300px;
        border: none;
        border-bottom: 0.5px solid #000000;
        outline: none;
      }

      button {
        width: 90px;
        height: 30px;
        border-radius: 40px;
        border: 1px solid #ffcc80;
        background-color: #ffffff;
        cursor: pointer;

        &:hover {
          color: #ffffff;
          background-color: #ffcc80;
          border-color: #ffffff;
          transition: all 0.3s;
        }
      }

      @media (max-width: 420px) {
        button {
          margin-top: 20px;
        }
      }
    }

    .infoPanel {
      text-align: center;

      .weatherStatus {
        align-items: center;
        display: inline-flex;
      }

      .buttonFtoC {
        font-size: 15px;
        width: 200PX;
        height: 30px;
        border-radius: 40px;
        color: #ffffff;
        border: none;
        background-color: #ffcc80;
        cursor: pointer;

        &:hover {
          border: 1px solid #ffcc80;
          color: #ffcc80;
          background-color: #ffffff;
          transition: all 0.3s;
        }
      }
    }

  }

}